*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(../res_img/fullBG.jpg);
    font-size:21px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.5s ease-in-out;
    background-blend-mode: multiply;
    background-color: rgba(25, 25, 25, 0.3);
}
.div {
    display: block;
    unicode-bidi: isolate;
}
.nav .logo {
    position: absolute;
    justify-items: center;
    align-items: center;
    z-index: 10;
    padding-left: 7vw;
    padding-top: 5px;
    transition: .5s;
}
.nav{
    width:100vw;
    background-color:rgba(25, 25, 25, 0.6);
    justify-content: space-between;
    align-items: center;
}
.nav>ul{
    display:flex;
    justify-content: center;
    padding: 25px 0;
    text-decoration: none;
    list-style-type: none;
}
.nav>ul>li{
    position: relative;
    margin:0 50px;
}
.nav ul li a{
    letter-spacing: 1px;
    color: rgba(255,255,255,0.8);
    text-shadow: 1px 1px 5px rgba(248, 248, 248, 0.615);
    border-bottom: 3px solid rgba(248, 248, 248, 0);
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
}
.nav ul li a:hover{
    color:rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 40px rgba(1,166,231, 0.747);
    border-bottom: 3px solid rgb(99, 104, 250);
}

.nav ul li .secondList{
    display: none;
    padding-left: 10px;
    text-decoration: none;
    color:#f1f1f1;
    justify-content: center;
    width:300px;
    position:absolute;
}
.nav ul>li:hover ul{
    display:block;
}

/* 左右切换背景图标*/
.alter-clicker .alter-left{
    left:0;
}
.alter-clicker .alter-right{
    right:0;
}
.alter-clicker .alter-left,.alter-clicker .alter-right{
    color:#fff;
    cursor:pointer;
    display: block;
    font-size: 80px;
    margin-top: -60px;
    position:fixed;
    text-align: center;
    text-shadow: 0 0 15px #000;
    top:50%;
    transition: all .5s ease-in-out;
    width:60px;
    z-index:100;
}
.alter-clicker .alter-left:hover,.alter-clicker .alter-right:hover{
    color:rgba(81, 174, 255, 0.8);
    text-shadow: 1px 1px 40px rgba(255, 255, 255, 0.932);
}
/*内容框*/
.text-container {
    margin: 60px auto;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 166, 231, 0);
    overflow: hidden;
}

.slide-image {
    max-height: 100%;
    max-width: 100%;
    transition: opacity 0.5s ease-in-out;
}
